<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-gray-700 pt-3">Produse</h2>
<div class="container mx-auto p-4">
    <p-table [value]="produse">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Nume</th>
          <th>Pret</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-produs>
        <tr>
          <td>{{ produs.id }}</td>
          <td>{{ produs.nume }}</td>
          <td>{{ produs.pret }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>